streamlit
langchain
langchain-community
langchain-core
langchain-classic
langchain-groq
langchain-google-genai
faiss-cpu
pypdf

langchain-groq
langchain-google-genai
langchain-text-splitters
tavily-python
langchain-tavily
wikipedia
