streamlit
langchain
langchain-community
langchain-core
langchain-classic
langchain-groq
langchain-google-genai
chromadb
pypdf
# FIXES FOR 2026 PYTHON 3.14 COMPATIBILITY:
protobuf~=4.25.0
opentelemetry-api
opentelemetry-sdk
